/* 헤더 부분 */
.header {
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.name:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* icon 공통설정 */
.icon {
  box-sizing: border-box;
  padding: 5px 5px;
  display: flex;
  img {
    width: 20px;
    height: 20px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px;
}
/* 마우스 올리면 배경이 생기도록 */
.tooltip:hover {
  width: 30px;
  height: 30px;
  background-color: gainsboro;
  border-radius: 50%;
  cursor: pointer;
}
/* hover 시 tooltip 뜨는 부분 설정 */
.tooltip .tooltiptext {
  visibility: hidden; /* hover 이벤트 발생 전 툴팁 영역을 숨김 */
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible; /* hover 이벤트 발생 시 툴팁 영역을 보여줌 */
  bottom: -40px;
  right: -30px;
  line-height: 100%;
}

/* .login {
  width: 30px;
  height: 30px;
  font-size: 14px;
  color: white;
  background-color: #496167;
  border: 1px solid #496167;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login:hover {
  cursor: pointer;
} */

/* 앱 박스 설정 */
.app-box {
  width: 370px;
  height: 400px;
  text-align: center;
  position: absolute;
  top: 100%;
  right: -10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* 자동 스크롤 */
  overflow: auto;
  cursor: pointer;
  scrollbar-width: thin;
  scrollbar-color: gray skyblue;
}
.apps {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  img {
    width: 50px;
    height: 50px;
  }
}
.app-box .apps:hover {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: rgb(233, 232, 232);
}
/* 앱 박스 설정 */

/* modal 설정 */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  font-size: 20px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  img {
    width: 40px;
    height: 35px;
  }
}
.close {
  color: #aaa;
  float: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  background-color: #f1f1f1;
  border-radius: 5px;
}
/* modal 설정 */
/* 헤더 부분 */

/* 중앙 메인 부분 */
.main {
  text-align: center;
  padding: 100px;
}

#Logo {
  margin-bottom: 20px;
}

.research-box {
  display: inline-block;
  width: 60%;
  position: relative;
}

input {
  width: 100%;
  height: 50px;
  font-size: inherit;
  box-sizing: border-box;
  border-radius: 50px;
  padding-left: 60px;
  margin: 20px;
  border: none;
  box-shadow: 1px 1px 5px 1px gainsboro;
}
/* input 클릭시 창 색깔 없앰 */
input:focus {
  outline: none;
}

.icon1 {
  position: absolute;
  top: 30px;
  left: 35px;
}

.icon2 {
  position: absolute;
  top: 30px;
  right: 40px;
  cursor: pointer;
}

.icon3 {
  position: absolute;
  top: 30px;
  right: 0px;
  cursor: pointer;
}

/* 바로가기 사이트 설정 */
.container {
  display: flex;
  justify-content: center;
}

.till {
  width: 112px;
  height: 112px;
  border-radius: 4px;
  font-family: "Segoe UI", Arial, "Malgun Gothic", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.till:hover {
  cursor: pointer;
  background-color: rgb(233, 232, 232);
}
.icon-box {
  width: 50px;
  height: 50px;
  background-color: rgb(225, 227, 225);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more {
  position: absolute;
  top: 3px;
  right: 2px;
  border-radius: 50%;
  display: none;
}
.till:hover .more {
  display: block;
}
.till:hover .more:hover {
  background-color: rgb(203, 201, 201);
}
.title {
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 10px;
}
.icon-box2 {
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: #d3e3fd;
  border-radius: 50%;
}
/* 중앙 메인 부분 */

/* 푸터 부분 */
.GooglePage {
  position: relative;
}

.footer {
  width: 170px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  position: fixed;
  right: 0px;
  bottom: 0px;
  box-sizing: border-box;
  margin: 10px 20px;
  padding: 5px;
  background-color: rgb(185, 208, 245);
  border-radius: 30px;
  box-shadow: 0px 3px 5px rgb(156, 159, 160);
}
.footer:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
/* 푸터 부분 */
